Repository chanteriam/reproductive-rights-data-project, changes with the owners that CODEOWNERS names for each.
All owners: @michplunkett, @ehabich, @chanteriam, @necabotheking

last changes
  reproductive_rights_data_project/__main__.py
  reproductive_rights_data_project/api/github/open_data_se.py
  reproductive_rights_data_project/test/test_api.py
  reproductive_rights_data_project/util/constants.py
  reproductive_rights_data_project/visualization/abstract_visualization.py
Owners: @michplunkett, @ehabich, @chanteriam, @necabotheking

Update __main__.py
  reproductive_rights_data_project/__main__.py
Owners: @michplunkett, @ehabich

Delete __init__.py
  reproductive_rights_data_project/__init__.py
Owners: @michplunkett, @ehabich

Update open_data_se.py
  reproductive_rights_data_project/api/github/open_data_se.py
Owners: @chanteriam, @necabotheking

bah
  reproductive_rights_data_project/api/__init__.py
  reproductive_rights_data_project/util/__init__.py
  reproductive_rights_data_project/visualization/__init__.py
Owners: @chanteriam, @necabotheking, @michplunkett, @ehabich

CODEOWNERS:

# Author(s): Michael Plunkett
# People are marked as code owners in the order of: primary_person, secondary_person
*py @michplunkett @ehabich

# Author(s): Michael Plunkett
/reproductive_rights_data_project/test/ @chanteriam @michplunkett @ehabich @necabotheking
/reproductive_rights_data_project/util/ @chanteriam @michplunkett @ehabich @necabotheking

# Author(s): Michael Plunkett
/reproductive_rights_data_project/api/ @chanteriam @necabotheking
/reproductive_rights_data_project/data_handling/ @ehabich @chanteriam
/reproductive_rights_data_project/visualization/ @necabotheking @michplunkett
